body {
    
}

.color-white {
    color: #ffffff;
}

.padding-none {
    padding: 0px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-tl-25 {
   padding-top: 25px;
   padding-left: 25px;
}

.margin-none {
    margin: 0px;
}

.mar-tb-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-btn {
    height: 100px;
}

.header-btn-2 {
    height: 100px;
    text-align: center;
    padding-top: 15px;
}

.header-btn-2 p {
    color:#ffffff;
    margin-top: 10px;
    font-size: 16px;
}

.btn-2-glyph {
    color: #ffffff;
    font-size: 28px;
}

.btn-2-glyph-black {
    color: #353535;
    font-size: 28px;
}

.bg-white {
    background-color: #ffffff;
    color: #353535 !important;
}

.bg-blue {
    background-color: #5da8f8;
}

.bg-green {
    background-color: #47b736;
}

.bg-red {
    background-color: #C82536;
}

.bg-gold {
    background-color: #f0ad4e;
}

.bg-test {
    background-color: #DCDCDC;
}

.width100 {
    width: 100%;
}

.mar-knowledge {
    margin: 0px 10px 40px 10px;
}

.no-margin {
    margin: 0px;
}

.mar-l-10 {
    margin-left: 10px;
}

.mar-b-25 {
    margin-bottom: 25px;
}

.mar-rbl-10 {
    margin: 0px 10px 10px 10px;
}

.minus-padding-r-15 {
    padding-right: 0px;
}

.pending {
    background-color: #353535;
    color: #ffffff;
}

.minus-15-mar-r {
    margin-right: 0px !important;
}

.align-center {
    text-align: center;
}

.bg-prim {
    background-color: #333333;
    color: #ffffff;
}

.bg-sec {
    background-color: #282727;
    color: #ffffff;
}

.bg-thir {
    background-color: #1e1d1d;
    color: #ffffff;
}

.header-img-pl {
    padding: 0px;
    height: 240px;
    background-image: url('../Images/black-on-black-things-picjumbo-com.jpg');
    background-size: cover;

}

.header-btn-prim {
    text-align: center;
    padding: 20px 0 0 0;
    height: 100px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.header-btn-prim-white {
    text-align: center;
    padding: 20px 0 0 0;
    height: 100px;
    color: #353535;
    font-weight: 700;
    text-transform: uppercase;
}

.header-btn-prim p {
    margin-top: 10px;
}

.header-btn-glyph {
    font-size: 24px;
}


.header-btn-prim-white p {
    margin-top: 10px;
}

.header-btn-glyph-black {
    font-size: 24px;
}

.height-70 {
    height: 70px;
}

.mar-t-40 {
    margin-top: 40px;
}

.mar-t-20 {
    margin-top: 20px;
}

.mar-t-15 {
    margin-top: 15px;
}

.mar-b-15 {
    margin-bottom: 15px;
}

.no-border {
    border: 0px !important;
}

@media screen and (max-width:350px){
    h3 {
        font-size: 20px;
    }
}

.padding-l-50 {
    padding-left: 50px;
}

.mar-r-0 {
    margin-right: 0px;
}

.margin-t-30 {
    margin-top: 30px;
}

.knowledge-base {
    margin-top: 50px;
    margin-bottom: 50px;
}

.knowledge-base-glyph {
    font-size: 44px;
}

.contact-form {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
}

.form-item {
    background-color: transparent;
}

.form-radius {
    border-radius: 2px;
    border: 1px solid #ffffff;
}

.form-width {
    width: 200px;
    margin: 0 auto;
}

.form-msg {
    width: 300px;
    margin: 0 auto;
}

@media screen and (max-width:360px){
    .form-msg {
        width: 260px;
    }
}

.table-transparent {
    background-color: transparent;
    border: none;
}

.panel-transparent {
    background-color: transparent;
    border: none;
}

.personal-info-section {
    font-size: 17px;
    margin-top: 20px;
}

.personal-info-panel {
    height: 426px;
    background-color: #282727;
    color: #808080;
}


.padding-tb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-container p {
    font-size: 16px;
}

.status-section > .container > .row > .col-sm-6 {
    font-weight: 700;
    text-transform: uppercase;
}

.personal-info-bottom {
    position: absolute;
    bottom: 25px;
}

.cv-small {
    color: #353535;
}

.section {
    margin-bottom: 50px;
}

.section-2 {
    margin-top: 100px;
}

.font-size-30 {
    font-size: 28px;
}

.mar-10 li {
    margin: 10px 0;
}

.padding-t-25 {
    padding-top: 25px;
}

.age-display{
    color: #b5b5b5;
    font-size: 28px;
}

.portfolio-title {
    color: #ffffff;
}

.panel-portfolio > h3 {
    margin: 0px 0px 15px 0px;
}

.panel-portfolio {
    width:100%;
    height:425px;
    background-color: #353535;
    color: #ffffff;
    border: 1px solid #353535;
    border-radius: 5px;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-portolio-btn-wrapper {
    text-align: center;
    margin-top: 40px;

}

.portfolio-btn {
    padding:10px 25px;
    background-color: #808080;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

.portfolio-btn:hover {
    color: #ffffff;
    background-color: #C82536;
    animation: hoverColor 2s forwards;
}

@keyframes hoverColor {
    from { background-color: #808080; }
    to { background-color: #C82536;} 
}

.panel-portfolio-img-wrapper {
    border-top: 1px solid #353535;
    height: 200px;
    margin: 0px -10px 10px -10px;
}

.portfolio-ku {
    background-image: url('../Images/ku_img_2.png');
    background-repeat: no-repeat;
    background-size: cover;

}


.panel-portfolio-info {
    color: #ffffff;

}

@media screen and (max-width:780px){
    .jc {
        text-align: center;
        padding: 10px;
    }
    .personal-info-panel {
        height: 600px;
    }
}

.section > h2 {
    color: #353535;
    text-decoration: underline;
}

.section > p {
    color: #333333;
}

.quick-links li a {
    font-size: 16px;
    color: #808080;
}

.quick-links a:hover {
    color: #ffffff;
}