body {
    
}

.padding-none {
    padding: 0px;
}

.header-btn-2 {
    height: 100px;
    text-align: center;
    padding-top: 15px;
}

.header-btn-2 p {
    color:#ffffff;
    margin-top: 10px;
    font-size: 16px;
}

.btn-2-glyph {
    color: #ffffff;
    font-size: 28px;
}

.bg-green {
    background-color: #00ff6b;
}

.bg-purple {
    background-color: #ae3c6d;
}

.bg-gold {
    background-color: #f3b41d
}

.width100 {
    width: 100%;
}

.mar-knowledge {
    margin: 0px 10px 40px 10px;
}

.no-margin {
    margin: 0px;
}

.mar-l-10 {
    margin-left: 10px;
}

.mar-b-25 {
    margin-bottom: 25px;
}

.mar-rbl-10 {
    margin: 0px 10px 10px 10px;
}

.minus-padding-r-15 {
    padding-right: 0px;
}

.pending {
    background-color: #353535;
    color: #ffffff;
}

.minus-15-mar-r {
    margin-right: 0px !important;
}

.align-center {
    text-align: center;
}

.bg-prim {
    background-color: #333333;
    color: #ffffff;
}

.bg-sec {
    background-color: #282727;
    color: #ffffff;
}

.bg-thir {
    background-color: #1e1d1d;
    color: #ffffff;
}

.header-img-pl {
    padding: 0px;
    height: 240px;
}

.header-btn-prim {
    text-align: center;
    padding: 20px 0 0 0;
    height: 70px;
}

.header-btn-glyph {
    font-size: 24px;
}

.height-70 {
    height: 70px;
}

.mar-t-40 {
    margin-top: 40px;
}

.mar-t-15 {
    margin-top: 15px;
}

.no-border {
    border: 0px !important;
}

@media screen and (max-width:350px){
    h3 {
        font-size: 20px;
    }
}

.padding-l-50 {
    padding-left: 50px;
}

#padding-l-5 {
    padding-right: 5px;
}

.mar-r-0 {
    margin-right: 0px;
}

.margin-t-30 {
    margin-top: 30px;
}

.knowledge-base {
    margin-top: 50px;
    margin-bottom: 50px;
}

.knowledge-base-glyph {
    font-size: 44px;
}

.contact-form {
    margin-top: 50px;
    text-align: center;
    padding: 15px;
}

.form-item {
    background-color: transparent;
}

.form-radius {
    border-radius: 2px;
    border: 1px solid #ffffff;
}

.form-width {
    width: 200px;
    margin: 0 auto;
}

.form-msg {
    width: 300px;
    margin: 0 auto;
}

@media screen and (max-width:360px){
    .form-msg {
        width: 260px;
    }
}

.table-transparent {
    background-color: transparent;
    border: none;
}

.panel-transparent {
    background-color: transparent;
    border: none;
}

.table tbody > tr > th {
    border: 0px;
}

..table tbody > tr > td {
    border: 0px;
}

.table {
    border: 0px;
}

.borderless td, .borderless th {
    border: none;
}